<div class="edit">
	<div class="form">
		<h3>Information about your session</h3>
		<%= render 'form', session: @session %>
	</div>
	<div class="image">
		<%= image_tag "https://cdn.bmwblog.com/wp-content/uploads/2018/11/BMW-inext-images-15.jpg" %>
	</div>
</div>